<!-- <h2>Webcam Live View</h2>
<webcam
  [height]="500"
  [width]="500"
></webcam> -->

<mat-card>
	<mat-card-header>
		<mat-card-title>Student Registration</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
			<!-- Basic Information -->
			<fieldset class="form-section">
				<legend>Basic Information</legend>

				<div class="form-row">
					<mat-form-field appearance="outline">
						<mat-label>First Name</mat-label>
						<input matInput formControlName="firstName" required>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Middle Name</mat-label>
						<input matInput formControlName="middleName">
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Last Name</mat-label>
						<input matInput formControlName="lastName" required>
					</mat-form-field>
				</div>
				<div class="form-row">
					<mat-button-toggle-group formControlName="gender" aria-label="Gender" class="gender-toggle">
						<mat-button-toggle value="male">Male</mat-button-toggle>
						<mat-button-toggle value="female">Female</mat-button-toggle>
					</mat-button-toggle-group>
					<mat-form-field appearance="outline">
						<mat-label>Date of Birth</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="dob" required>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Blood group</mat-label>
						<input matInput formControlName="bloodGroup" required>
					</mat-form-field>
				</div>
			</fieldset>

			<!-- Permanent Address -->
			<fieldset class="form-section">
				<legend>Permanent Address</legend>
				<div formGroupName="permanentAddress">
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>House Number</mat-label>
							<input matInput formControlName="houseNumber">
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Plot Number</mat-label>
							<input matInput formControlName="plotNumber">
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Land Mark</mat-label>
							<input matInput formControlName="landMark">
						</mat-form-field>
					</div>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Street</mat-label>
							<input matInput formControlName="addressLine1" required>
						</mat-form-field>
					</div>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Address Line 2</mat-label>
							<input matInput formControlName="addressLine2">
						</mat-form-field>
					</div>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Taluk</mat-label>
							<input matInput formControlName="taluk" required>
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>District</mat-label>
							<input matInput formControlName="district" required>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>State</mat-label>
							<mat-select formControlName="state" required>
								<mat-option *ngFor="let state of indianStates" [value]="state">{{state}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</fieldset>

			<!-- Residential Address -->
			<fieldset class="form-section">
				<legend>Residential Address</legend>
				<div formGroupName="residentialAddress">
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>House Number</mat-label>
							<input matInput formControlName="houseNumber">
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Plot Number</mat-label>
							<input matInput formControlName="plotNumber">
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Land Mark</mat-label>
							<input matInput formControlName="landMark">
						</mat-form-field>
					</div>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Address Line 1</mat-label>
							<input matInput formControlName="addressLine1" required>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Address Line 2</mat-label>
							<input matInput formControlName="addressLine2">
						</mat-form-field>
					</div>
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Taluk</mat-label>
							<input matInput formControlName="taluk" required>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>District</mat-label>
							<input matInput formControlName="district" required>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>State</mat-label>
							<mat-select formControlName="state" required>
								<mat-option *ngFor="let state of indianStates" [value]="state">{{state}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</fieldset>

			<fieldset class="form-section">
				<legend>Guardian</legend>
				<div formGroupName="guardian">
					<div class="form-row">
						<mat-form-field appearance="outline">
							<mat-label>Guardian Type</mat-label>
							<mat-select formControlName="type" required>
								<mat-option value="mother">Mother</mat-option>
								<mat-option value="father">Father</mat-option>
								<mat-option value="uncle">Uncle</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field appearance="outline">
							<mat-label>Guardian Name</mat-label>
							<input matInput formControlName="name" required>
						</mat-form-field>
					</div>
				</div>
			</fieldset>

			<fieldset class="form-section">
				<legend>Siblings</legend>

				<div formArrayName="siblings">
					<div *ngFor="let sibling of siblings.controls; let i = index" [formGroupName]="i">
						<div class="form-row">
							<mat-form-field appearance="outline">
								<mat-label>Type</mat-label>
								<mat-select formControlName="type" required>
									<mat-option value="brother">Brother</mat-option>
									<mat-option value="sister">Sister</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Name</mat-label>
								<input matInput formControlName="name" required>
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Previous School Name</mat-label>
								<input matInput formControlName="previousSchoolName">
							</mat-form-field>

							<mat-form-field appearance="outline">
								<mat-label>Place</mat-label>
								<input matInput formControlName="place">
							</mat-form-field>
							<button mat-icon-button type="button" (click)="removeSibling(i)">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</div>

				<button mat-button type="button" (click)="addSibling()">Add Sibling</button>
			</fieldset>

			<button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid">Register</button>
		</form>

	</mat-card-content>
</mat-card>