.app-sidenav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// .main-body {
//   flex: 1; /* Pushes the footer to the bottom */
  
//   height: ;
// }

.mat-sidenav {
  width: 250px;
  position: fixed;
  padding-top: 56px;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body {
  flex: 1 1 auto;
  padding: 20px;
  min-height: calc(100vh - var(--footer-height));
}

.list-item-content {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust this value for more or less space */
}

.app-is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    // z-index: 2;
}

.app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.app-is-mobile .app-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}