<mat-card>
    <mat-card-title style="padding: 12px;">Login Form</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="padding: 10px;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <mat-label>Enter Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Enter password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                </mat-form-field>
            </p>

            @if (error) {
                <p class="error">
                    {{ error }}
                </p>
            }
            
            <div class="button">
                <button type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
        
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="login-card-actions">
        <span>Not user yet? </span><a routerLink="/signup" type="button" mat-button>Signup</a>
    </mat-card-actions>
</mat-card>
