<div class="pickup-point-container">
  <h2>Pickup Point Management</h2>
  <div class="search-section">
    <div class="search-row">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="searchPickupPoints()" placeholder="Search" />
      </mat-form-field>
    </div>
  </div>
  <div class="action-bar">
    <mat-form-field>
      <mat-label>Select Route</mat-label>
      <mat-select (selectionChange)="onRouteChange($event)">
        <mat-option *ngFor="let route of vehicleRoutes" [value]="route.id">
          {{route.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNewPickupPoint()" [disabled]="!selectedRouteId">Add Pickup
      Point</button>
  </div>

  <div class="table-container">
    @if (pickupPointsDataSource.data.length > 0) {
    <table mat-table [dataSource]="pickupPointsDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="stopName">
        <th mat-header-cell *matHeaderCellDef>Stop Name</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          {{pickupPoint.stopName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="sequenceOrder">
        <th mat-header-cell *matHeaderCellDef>Sequence</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          {{pickupPoint.sequenceOrder}}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          {{pickupPoint.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          {{pickupPoint.latitude}}
        </td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          {{pickupPoint.longitude}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let pickupPoint; let i = index">
          <button mat-icon-button (click)="updatePickupPoint(pickupPoint, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePickupPoint(pickupPoint, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    } @else {
    <p>No pickup points found for the selected route.</p>
    }
  </div>

</div>