<div class="route-container">
  <h2>Route Management</h2>

  <div class="search-section">
    <div class="search-row">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search routes...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="action-bar">
    <button mat-raised-button color="primary">Add Route</button>
  </div>

  <!-- table-container and details-container should be side by side -->
  <div class="content-section">
    <div class="content-row">
      <div class="table-container">
        <table mat-table [dataSource]="routesDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let route">{{ route.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let route">{{ route.description }}</td>
          </ng-container>

          <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef>Vehicle</th>
            <td mat-cell *matCellDef="let route">{{ route.vehicle?.registrationNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let route">
              <button mat-icon-button color="info" (click)="viewMap()">
                <mat-icon>map</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="details-container">
        <mat-card class="map-card">
          <mat-card-header>
            <mat-card-title>Route Map</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <google-map height="500px" width="100%" [center]="center()" [zoom]="zoom()" [options]="options"
              (mapClick)="moveMap($event)">

              <map-advanced-marker [position]="center()" [title]="'New York City'" [options]="{ gmpDraggable: true }">
              </map-advanced-marker>

            </google-map>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>