<button mat-icon-button class="app-icon" [matMenuTriggerFor]="userMenu" aria-label="Example icon-button with share icon">
    <mat-icon >account_circle</mat-icon>
</button>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>