<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h3>About Us</h3>
      <p>Building high-quality Angular applications with Material Design principles.</p>
      <div class="social-icons">
        <button mat-icon-button><mat-icon>facebook</mat-icon></button>
        <button mat-icon-button><mat-icon>twitter</mat-icon></button>
      </div>
    </div>

    <div class="footer-col">
      <h3>Resources</h3>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Contact</h3>
      <ul>
        <li><mat-icon>email</mat-icon> support&#64;example.com</li>
        <li><mat-icon>phone</mat-icon> +1 (555) 000-1234</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Pro-App Inc. All rights reserved. | <a href="#">Privacy Policy</a></p>
  </div>
</footer>