/* You can add global styles to this file, and also import other style files */

html, 
body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .spacer {
//   flex: 1 1 auto;
// }


/* styles.css */
.mat-mdc-snack-bar-container.style-success {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.style-error {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: white;
}